html,
body,
div,
ul,
ol,
li,
p,
span,
label,
dl,
dt,
dd,
form,
input,
textarea,
select,
h1,
h2,
h3,
h4,
h5,
h6,
table,
td,
th,
iframe,
object,
center,
fieldset,
legend,
ins,
del,
pre {
  padding: 0;
  margin: 0;
}

img,
td,
th { border: none; }

img,
li { vertical-align: top; }
li { list-style-type: none; }

font,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

address,
caption,
cite,
code,
dfn,
em,
th,
var,
abbr,
i {
  font-style: normal;
  font-weight: normal;
}

ins {
  text-decoration: none;
}

body {
  font-family:  "Microsoft YaHei", "微软雅黑", "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.3;
  color: #666;
  -webkit-text-size-adjust: none;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #fff;
}

ol,
ul {
  list-style: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

/* doc文件下的样式 */
.content{ padding:10px;}
.content img{border:1px solid #999;}
.content th,.content td{padding: 5px;border:1px solid #999;}
.content h1{padding: 5px 0;font-size: 20px;color: #000;}
.content h2{padding: 5px 0;font-size: 18px;color: #333;}
.content h3{padding: 5px 0;font-size: 16px;}
.content p{padding: 5px 0;}
.content em{ color: #ff0000;}
