/*
 * @Author: 王宏伟
 * @Email：wanghongwei@hualala.com
 * @Date: 2024-07-30 10:35:01
 * @Description: 修复Stylelint报错：Unknown word CssSyntaxError
 * @FilePath: /react-18.2/src/view/Doc/Css.html.scss
 */

.pg-css {
  $colors:red,green,blue;

  // @for $i from 1 through length($colors){
  //   .item-#{nth($colors,$i)} { color:nth($colors,$i); }
  // }
   
  @each $i in $colors{
    .item-#{ $i } { color: $i; }
  }

}
// $font-color-map:(
//   "default": $T-C-3,
//   "disabled": $T-C-9,
//   "success": $T-C-Success,
//   "warning": $T-C-Warning,
//   "danger": $T-C-Danger,
// );

// $font-color-key-list:map-keys($font-color-map);

// @each $key in $font-color-key-list{
//   .text-#{ $key } { color: map-get($font-color-map,$key); }
// }

