.ly-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.ly-menu {
  padding: 10px;

  >dt {
    font-weight: bold;
  }

  >dd {
    line-height: 2;
  }
}
